.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h3 {
  text-align: left;
  margin-top: 0;
  margin-bottom: 25px;
}

body {
  font-family: "Trebuchet MS", "Arial", "Helvetica", sans-serif;
}

#content {
  background-color: #f7f7ff;
}

header {
  height: fit-content;
  padding: 8px;
  padding-left: 300px;
  border-bottom: 2px #000 solid;
}

header img {
  width: 400px;
  height: 50px;
}

h1 {
  padding: 10px;
  padding-left: 400px;
}

#container {
  width: 1000px;
  margin: 0 auto;
  background: #fff;
}

#navbar {
  height: 35px;
  width: auto;
  background-color: #660066;
  color: #fff;
  margin-bottom: 5px;
}

#navbar li {
  float: left;
  width: auto;
  list-style: none;
  padding: 10px;
  border-left: 1px #fff solid;
  font-weight: lighter;
}

#subheader {
  width: 970px;
  background-color: #999399;
  height: fit-content;
  margin: 0 10px;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 5px #660066 solid;
  border-left: 10px #660066 solid;
}

#welcome {
  width: 82.5%;
  float: left;
  color: #fff;
}

#welcome h2 {
  padding-left: 40px;
  font-size: 28px;
  font-weight: 50;
}

#img {
  float: left;
  width: 17.5%;
}

#img img {
  padding: 0;
  margin: 0;
}

#text {
  float: left;
  width: 65%;
  padding: 20px;
}

#login {
  text-align: center;
  margin-right: 0;
  margin-top: 10px;
  background-color: #f7f7ff;
  float: left;
  padding: 8px;
  width: 27%;
  border: 1px #cccccc solid;
}

#login input,
#login button {
  padding: 2px;
  margin: 5px;
}

#login label {
  padding-left: 0;
}

label {
  display: inline-block;
}

#login button {
  padding: 3px;
  width: 60px;
  border-radius: 4px;
  border: 1px #cccccc solid;
  background-color: #eee;
}

.forget {
  text-align: right;
  color: #009;
  text-decoration: none;
}

.forget a {
  display: block;
  text-decoration: none;
  color: #009;
  margin: 0;
}

h3 {
  color: #636;
  font-style: italic;
  font-size: 170%;
  font-weight: 100;
}

h4 {
  color: #669;
  font-size: 120%;
  font-weight: 100;
  font-family: "Trebuchet MS", "Arial", "Helvetica", sans-serif;
}

h5 {
  text-align: left;
  margin-top: 0;
  font-size: 105%;
}

#text p a {
  color: #009;
  text-decoration: none;
}

a {
  text-decoration: none;
}

footer {
  text-align: right;
  padding-left: 500px;
  padding-right: 35px;
  margin-bottom: 80px;
}

footer a {
  color: #009;
}
